<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Task</title>
    <link rel="stylesheet" href="/edit/style.css">
</head>

<body>
    <form action="/edit/<%= todo.id %>" method="post">
        <input type="text" name="title" value="<%= todo.title %>" required />
        <button type="submit">Save</button>
        <a href="/">Back</a>
    </form>
</body>

</html>